@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */
@theme {
  --font-roboto: "Roboto", sans-serif; 
}

:root {
  --color-1: 0 100% 63%;
  --color-2: 270 100% 63%;
  --color-3: 210 100% 63%;
  --color-4: 195 100% 63%;
  --color-5: 90 100% 63%;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #3f0fdf;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  
}
